# Node dependencies
node_modules/

# Expo
.expo/
.eas/
dist/
web-build/
expo-env.d.ts

# Native builds (if using prebuild)
# ios/
android/

# TypeScript
*.tsbuildinfo
*.d.ts

# Firebase
# Commit iOS plist so EAS remote builds can access it
# (Android json can remain untracked if not building Android on CI)
google-services.json

# Secrets
.env
.env.*
*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.*

# Metro
.metro-health-check*

# macOS
.DS_Store

# Other
*.orig.*

app.config.js
.env.local

# iOS Pods should never be committed
ios/Pods/
