<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940533360034-ht7rgrb38r2b4obg7uv0kjspcuqp48tn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940533360034-ht7rgrb38r2b4obg7uv0kjspcuqp48tn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>940533360034-uf6h48rq4jjapohcnvqorshh6m00l1jr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuYSodt1D_ZFuitNOFSw7m4SCjuYVhs50</string>
	<key>GCM_SENDER_ID</key>
	<string>940533360034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabe.vymix</string>
	<key>PROJECT_ID</key>
	<string>vymix-d72ed</string>
	<key>STORAGE_BUCKET</key>
	<string>vymix-d72ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940533360034:ios:58fc59ff23c39c6ba3fefb</string>
</dict>
</plist>